.feature-tile-grid {
    --column-gap: 0.75rem;
    --row-gap: calc(var(--column-gap) * 3);
    display: grid;
    /* grid-template-columns are all defined below */
    grid-auto-flow: dense;
    margin: 0 calc(-1 * var(--column-gap));
    row-gap: var(--row-gap);
    padding-bottom: var(--row-gap);
}

.feature-tile-wrapper {
    min-width: 0;
    position: relative;
    width: 100%;
    padding-right: var(--column-gap);
    padding-left: var(--column-gap);
}

/* Up to Bootstrap sm */
@media (max-width: 575px) {
    .feature-tile-grid {
        grid-template-columns: 1fr;
    }
}

/* Bootstrap md */
@media (min-width: 768px) {
    .feature-tile-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Bootstrap lg */
@media (min-width: 992px) {
    .feature-tile-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Bootstrap md */
@media (min-width: 768px) {
    .double-wide-tile {
        grid-column: span 2;
    }
    
    .double-tall-tile {
        grid-row: span 2;
    }
}

/*
Will always be the full width of the TileGrid. Because of how tiles work, it'll also be quite tall unless you add custom styling to prevent that.

If you want to 
*/
.showcase-tile {
    grid-column: 1/-1;
}